@charset "UTF-8";
/* -------------------------------------------------------reset------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/   v2.0 | 20110126   License: none (public domain)*/
@import url(../images/all.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&subset=japanese);
@import url("../images/null_4c29cf01f9ce4286b53c1d3e1e9893d3.css");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
main,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: "";
    content: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    font-size: 62.5%;
}

body {
    width: 100%;
    color: #5e4f48;
    font-size: 14px;
    font-size: 1.4rem;
    font-family: "ヒラギノ角ゴ Pro", "Noto Sans JP", "游ゴシック", YuGothic, "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

body.fixedHead {
    overflow: hidden;
    height: 100%;
}

.pc {
    display: block !important;
}

.sp {
    display: none !important;
}

@media only screen and (max-width: 1024px) {
    .pc {
        display: none !important;
    }

    .sp {
        display: block !important;
    }
}

a[href^="tel:"] {
    cursor: default;
}

a {
    color: #4f4433;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover,
a:active {
    text-decoration: none;
    opacity: .6;
}

.txtC {
    text-align: center !important;
}

.txtR {
    text-align: right !important;
}

.txtL {
    text-align: left !important;
}

.bold {
    font-weight: bold !important;
}

.normal {
    font-weight: normal !important;
}

.red {
    color: #ff0206;
}

.txtS {
    font-size: 78%;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

a:hover img {
    opacity: .7;
    filter: alpha(opacity=70);
}

.anim {
    opacity: 0;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    transform: translateY(20px);
}

.anim.active {
    opacity: 1;
    transform: translateY(0px);
}

.cf {
    display: inline-block;
}

.cf:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
    font-size: 0;
}

* html .cf {
    height: 1%;
}

.cf {
    display: block;
}

.wrap {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 896px) {
    .wrap {
        display: block;
    }
}

.header {
    min-width: 180px;
    width: 15%;
    background: #E0B4B5;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 0 20px;
        min-width: auto;
        width: 25%;
    }
}

@media screen and (max-width: 896px) {
    .header {
        padding: 0;
        width: 100%;
    }
}

.contentRightBox {
    width: 85%;
    padding: 0 20px;
}

@media screen and (max-width: 1024px) {
    .contentRightBox {
        width: 80%;
        padding: 0 15px;
    }
}

@media screen and (max-width: 896px) {
    .contentRightBox {
        width: 100%;
        padding: 0 10px;
    }
}

.mainVisual {
    position: relative;
    padding-top: 40px;
    padding-left: 20px;
}

.mainVisual .mainTtl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.mainVisual .imgBox img {
    width: 100%;
    vertical-align: bottom;
}

@media screen and (max-width: 1024px) {
    .mainVisual {
        padding: 0;
    }

    .mainVisual .mainTtl {
        position: relative;
    }
}

.newCat>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 1080px;
}

.newCat>ul::after {
    display: block;
    width: calc(95%/3);
    content: "";
}

.newCat>ul li {
    position: relative;
    margin-bottom: 90px;
    width: calc(95%/3);
}

.newCat>ul li:hover {
    opacity: .8;
}

.newCat>ul li a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
}

.newCat>ul li .imgBox {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    width: 100%;
}

.newCat>ul li .imgBox::before {
    display: block;
    padding-top: 65%;
    content: "";
}

.newCat>ul li .imgBox img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 150%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.newCat>ul li .detail .status {
    margin-bottom: 10px;
}

.newCat>ul li .detail .status span {
    padding: 1px 10px;
    border: 1px solid #85745b;
    border-radius: 50px;
    font-size: 92.9%;
    line-height: 1;
}

.newCat>ul li .detail .category {
    font-weight: bold;
}

.newCat>ul li .detail .price {
    color: #DB9398;
    font-weight: bold;
}

.newCat>ul li .detail .price i {
    font-weight: normal;
    font-size: 90%;
}

.newCat>ul li .detailTable {
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid #e2ddcb;
}

.newCat>ul li .detailTable td {
    padding: 10px 0;
    border-bottom: 1px solid #e2ddcb;
}

.newCat>ul li.agree .detail {
    position: relative;
}

.newCat>ul li.agree .detail::before {
    position: absolute;
    top: -40px;
    right: 10px;
    width: 81px;
    height: 100px;
    background: url(../images/agree.png);
    background-size: 100%;
    content: "";
}

@media screen and (max-width: 1024px) {
    .newCat>ul::after {
        display: none;
    }

    .newCat>ul li {
        margin-bottom: 40px;
        width: calc(95%/2);
    }
}

@media screen and (max-width: 896px) {
    .newCat>ul li {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .newCat>ul li .imgBox {
        margin-bottom: 0;
        width: 45%;
    }

    .newCat>ul li .detail {
        width: 50%;
    }

    .newCat>ul li.agree .detail::before {
        top: 0;
        right: 0;
    }
}

.header h2 {
    margin: auto;
    padding: 40px 0;
    width: 117px;
}

@media screen and (max-width: 896px) {
    .header h2 {
        display: flex;
        align-items: center;
        margin: 0 10px;
        padding: 0;
        width: 135px;
        height: 60px;
    }
}

.contactBtn {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
}

.contactBtn a {
    display: inline-block;
    padding: 28px 35px;
    background: #BC87BB;
    color: #fff;
}

@media screen and (max-width: 896px) {
    .contactBtn {
        position: static;
    }

    .contactBtn a {
        display: block;
        padding: 15px;
        text-align: center;
    }
}

.gNav nav ul li {
    margin-bottom: 60px;
    text-align: center;
    line-height: 1;
}

.gNav nav ul li a {
    color: #fff;
    font-weight: bold;
    font-size: 107.1%;
}

.gNav nav ul li a span {
    display: block;
    margin-top: 10px;
    font-weight: normal;
    font-size: 66.7%;
}

@media screen and (max-width: 896px) {
    .gNav nav ul li {
        margin-bottom: 0;
        border-bottom: 1px solid #e2ddcb;
    }

    .gNav nav ul li a {
        display: block;
        padding: 30px 0;
    }
}

.gNav .snsList {
    display: flex;
    justify-content: center;
}

.gNav .snsList li {
    margin: 0 10px;
}

.gNav .snsList li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    /* font-size: 171.4%; */
}

@media screen and (max-width: 896px) {
    .gNav .snsList {
        margin: 30px 0;
    }
}

@media screen and (max-width: 896px) {
    .gNav {
        position: fixed;
        top: 60px;
        z-index: 80;
        display: none;
        overflow: auto;
        width: 100%;
        height: calc(100% - 60px);
        background: #E0B4B5;
    }
}

.spNav {
    display: none;
}

@media screen and (max-width: 896px) {
    .spNav {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 60px;
        height: 60px;
        background: #BC87BB;
    }
}

.toggleBtn_sp {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 26px;
    height: 22px;
    transition: all .4s;
}

.toggleBtn_sp.active {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.toggleBtn_sp.active span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
}

.toggleBtn_sp.active span:nth-child(2) {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

.toggleBtn_sp.active span:nth-child(3) {
    opacity: 0;
}

.toggleBtn_sp span {
    position: absolute;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all .4s;
}

.toggleBtn_sp span:nth-child(1) {
    top: 0;
}

.toggleBtn_sp span:nth-child(2) {
    top: 10px;
}

.toggleBtn_sp span:nth-child(3) {
    bottom: 0;
}

/* -------------------------------------------------------margin------------------------------------------------------- */
.mt00 {
    margin-top: 0 !important;
}

.mt05 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt12 {
    margin-top: 12px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt35 {
    margin-top: 35px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt45 {
    margin-top: 45px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mb00 {
    margin-bottom: 0 !important;
}

.mb05 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb12 {
    margin-bottom: 12px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb35 {
    margin-bottom: 35px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb45 {
    margin-bottom: 45px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mb100 {
    margin-bottom: 100px !important;
}

/* -------------------------------------------------------padding------------------------------------------------------- */
.pt00 {
    padding-top: 0 !important;
}

.pt05 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt12 {
    padding-top: 12px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pt50 {
    padding-top: 50px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pr00 {
    padding-right: 0 !important;
}

.pr05 {
    padding-right: 5px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pr12 {
    padding-right: 12px !important;
}

.pr15 {
    padding-right: 15px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pb00 {
    padding-bottom: 0 !important;
}

.pb05 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb12 {
    padding-bottom: 12px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pl00 {
    padding-left: 0 !important;
}

.pl03 {
    padding-left: 3px !important;
}

.pl05 {
    padding-left: 5px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl12 {
    padding-left: 12px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.btn a {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 25px;
    min-width: 324px;
    border-radius: 9999px;
    /* background: #BC87BB; */
    background: linear-gradient(45deg, rgba(255, 15, 250, 1) 0%, rgba(247, 142, 245, 1) 100%);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 92.9%;
    line-height: 1;
}

.btn a::after {
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    margin: auto;
    height: 1em;
    content: "→";
}

@media screen and (max-width: 896px) {
    .btn a {
        min-width: 100%;
    }
}

.btn2 a {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 25px;
    min-width: 430px;
    background: #ba7e1d;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 128.6%;
    line-height: 1;
}

.btn2 a::after {
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    margin: auto;
    height: 1em;
    content: "→";
}

@media screen and (max-width: 896px) {
    .btn2 a {
        min-width: 100%;
    }
}

.inner {
    margin: auto;
    max-width: 1080px;
}

.block01 {
    padding: 75px 30px 145px;
}

@media screen and (max-width: 1024px) {
    .block01 {
        padding: 40px;
    }
}

@media screen and (max-width: 896px) {
    .block01 {
        padding: 40px 15px;
    }
}

.block02 {
    margin-bottom: 60px;
}

.bgBlock {
    background: #f5f1ed;
}

.flag {
    position: relative;
}

.flag::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 392px;
    height: 128px;
    background: url("../images/flag_left.png") no-repeat;
    background-size: 100%;
    content: "";
    pointer-events: none;
}

.flag::after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 392px;
    height: 128px;
    background: url("../images/flag_right.png") no-repeat;
    background-size: 100%;
    content: "";
    pointer-events: none;
}

@media screen and (max-width: 1024px) {

    .flag::before,
    .flag::after {
        width: 40%;
    }
}

.flexBox2Column {
    display: flex;
    justify-content: space-between;
}

.flexBox2Column.reverse {
    flex-direction: row-reverse;
}

.flexBox2Column>div {
    width: calc(96%/2);
}

@media screen and (max-width: 896px) {
    .flexBox2Column {
        display: block;
    }

    .flexBox2Column>div {
        width: 100%;
    }
}

ul.dotList li {
    margin-bottom: 10px;
    padding-left: 1em;
    color: #4f4433;
    text-indent: -1em;
}

ul.dotList li::before {
    color: #4f4433;
    content: "・";
}

ol.dotList {
    margin: 20px 0;
    margin-left: 1.5em;
    list-style: decimal;
}

ol.dotList li {
    margin-bottom: 8px;
}

.attList {
    font-size: 85%;
}

.attList li {
    margin-left: 1.5em;
    text-indent: -1.5em;
}

.attList li::before {
    margin-right: .55em;
    content: "※";
}

.attentionBlock {
    padding: 40px;
    border: 1px solid #ba7e1d;
}

.dotDl dt {
    position: relative;
    margin-bottom: 20px;
    padding-left: 25px;
}

.dotDl dt::before {
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ba7e1d;
    content: "";
}

.dotDl dd {
    margin-bottom: 35px;
}

.dotDl dd>p {
    margin: 15px 0;
}

.listStyle01 {
    padding: 30px;
    border: 1px solid #ba7e1d;
    background: #fff;
}

.listStyle01 li {
    padding-left: 1em;
    text-indent: -.4em;
    line-height: 2;
}

.listStyle01 li::before {
    display: inline-block;
    padding-right: 5px;
    content: "-";
}

.table01 {
    width: 100%;
    border-top: 1px solid #e2ddcb;
}

.table01 th,
.table01 td {
    padding: 20px 30px;
}

.table01 th {
    position: relative;
    width: 25%;
    border-bottom: 1px solid #e2ddcb;
    background: #f5f1ed;
    vertical-align: top;
    text-align: center;
}

.table01 td {
    border-bottom: 1px solid #e2ddcb;
}

.formTable {
    width: 100%;
    border-top: 1px solid #e1b876;
}

.formTable {
    width: 100%;
    border-top: 1px solid #e1b876;
}

@media screen and (max-width: 896px) {

    .formTable tr,
    .formTable tbody {
        width: 100%;
        display: block;
    }
}

.formTable th,
.formTable td {
    padding: 25px 0;
    border-bottom: 1px solid #e1b876;
    vertical-align: top;
}

.formTable th {
    width: 25%;
    text-align: left;
    font-weight: bold;
}

.formTable th .att {
    margin-left: 10px;
    padding: 2px 15px;
    border-radius: 30px;
    background: #ff580e;
    color: #fff;
    line-height: 1;
}

.formTable td {
    font-family: "ヒラギノ角ゴ Pro", "Noto Sans JP", "游ゴシック", YuGothic, "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

@media screen and (max-width: 896px) {
    .table01 {
        display: block;
        width: 100%;
    }

    .table01 tbody,
    .table01 tr {
        display: block;
    }

    .table01 th,
    .table01 td {
        display: block;
        box-sizing: border-box;
        padding: 15px;
        width: 100%;
    }

    .table01 th {
        width: 100%;
        border-top: 1px solid #e1b876;
        border-bottom: 1px solid #e1b876;
        text-align: left;
        font-weight: bold;
    }

    .table01 th::after {
        display: none;
    }

    .table01 td span {
        padding-left: 0;
        border-left: 0;
    }

    .table_basic th,
    .table_basic td {
        display: block;
        padding: 15px 0;
        width: 100%;
    }

    .table_basic th {
        text-align: center;
        font-weight: bold;
    }

    .table_basic td span {
        padding-left: 0;
        border-left: 0;
    }

    .formTable {
        display: block;
    }

    .formTable th,
    .formTable td {
        display: block;
        width: 100%;
    }

    .formTable th {
        padding: 5px 0;
        text-align: center;
    }
}

.mainTtl {
    padding: 40px 70px;
    background: #fff;
}

.mainTtl .title {
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #4f4433;
}

.mainTtl .text {
    display: block;
    font-weight: bold;
}

@media screen and (max-width: 896px) {
    .mainTtl {
        padding: 20px;
    }
}

.headline01 {
    position: relative;
    margin-bottom: 60px;
    text-align: center;
}

.headline01 span {
    display: block;
    padding-bottom: 10px;
    line-height: 1;
}

.headline01 span:first-child {
    padding-top: 45px;
    letter-spacing: .1em;
    font-weight: bold;
    font-size: 185.7%;
}

.headline01 span:last-child {
    font-size: 92.9%;
}

.headline01::before {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    background: url("../images/ico_star.png");
    background-size: 100%;
    content: "";
}

.headline01::after {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 356px;
    height: 7px;
    background: url("../images/line.png");
    background-size: 100%;
    content: "";
}

@media screen and (max-width: 896px) {
    .headline01 {
        margin-bottom: 40px;
        font-size: 86%;
    }

    .headline01 span:first-child {
        padding-top: 35px;
    }

    .headline01::after {
        width: 100%;
        background-size: 356px;
    }
}

.headline01_2 {
    display: inline-block;
    margin-bottom: 40px;
    border-bottom: 1px solid #ba7e1d;
}

.headline01_2 span {
    display: inline-block;
    padding-bottom: 10px;
    line-height: 1;
}

.headline01_2 span:first-child {
    padding-right: 15px;
    letter-spacing: .1em;
    font-weight: bold;
    font-size: 185.7%;
}

.headline01_2 span:last-child {
    font-size: 92.9%;
}

.headline01_2::before {
    display: inline-block;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    background: url("../images/ico_star.png");
    background-size: 100%;
    content: "";
}

.headline02 {
    margin: auto;
    margin-bottom: 50px;
    min-width: 320px;
    color: #4f4433;
    text-align: center;
    letter-spacing: .1em;
    font-weight: bold;
    font-size: 185.7%;
}

.headline02 span {
    display: inline-block;
    padding-bottom: 30px;
    border-bottom: 1px solid #4f4433;
}

@media screen and (max-width: 896px) {
    .headline02 {
        font-size: 155.7%;
    }

    .headline02 span {
        padding-bottom: 20px;
    }
}

.headline03 {
    margin-bottom: 40px;
    color: #4f4433;
    letter-spacing: .1em;
    font-weight: bold;
    font-size: 185.7%;
    line-height: 1;
}

@media screen and (max-width: 896px) {
    .headline03 {
        font-size: 155.7%;
    }
}

.headline04 {
    color: #4f4433;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-decoration: underline;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 5px;
    border: 1px solid #e2ddcb;
    background-image: none;
    color: inherit;
    color: #c9caca;
    font-size: 114.3%;
    font-family: inherit;
    font-family: "ヒラギノ角ゴ Pro", "Noto Sans JP", "游ゴシック", YuGothic, "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    outline: none;
    background: #f5f1ed;
    box-shadow: none;
    color: #000;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
}

input[type="text"].age {
    width: 15%;
}

textarea {
    height: 300px;
}

select {
    padding: .2em .3em;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .16);
    border-radius: 4px;
    background: #fff;
    color: inherit;
    color: #a2a2a2;
    font-size: 114.3%;
    font-family: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

select:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, .32);
    box-shadow: none;
}

.selectBox {
    position: relative;
}

.selectBox::after {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    height: 17px;
    color: #4f4433;
    content: "\f078";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
}

.submit {
    text-align: center;
}

input[type="submit"],
input[type="button"] {
    display: inline-block;
    margin: 0 0 1em;
    padding: 1em 6em;
    border: none;
    border-radius: 0;
    background-color: #dd5911;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 114.3%;
    cursor: pointer;
    /* -webkit-appearance: none; */
}

@media screen and (max-width: 896px) {

    input[type="submit"],
    input[type="button"] {
        padding: 1em 0;
        width: 80%;
    }
}

input[type="button"] {
    padding: 1em 3em;
    background: #ccc;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
    outline: none;
}

input[type="submit"]::-moz-foucus-inner,
input[type="button"]::-moz-foucus-inner {
    padding: 0;
    border: none;
}

.radioBtn {
    display: flex;
    flex-wrap: wrap;
}

.radioBtn>span {
    display: block;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 125%;
}

.radioBtn>span label {
    position: relative;
    padding-left: 35px;
}

.radioBtn>span label span::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid #c9caca;
    border-radius: 50%;
    content: "";
}

.radioBtn>span label span::after {
    position: absolute;
    top: 6px;
    left: 6px;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #4f4433;
    content: "";
    opacity: 0;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    transform: scale(1.5);
}

.radioBtn>span input {
    display: none;
}

.radioBtn>span input:checked+span::after {
    opacity: 1;
    transform: scale(1);
}

.privacy {
    margin: 30px 0;
    text-align: center;
    font-size: 87.5%;
    font-family: "ヒラギノ角ゴ Pro", "Noto Sans JP", "游ゴシック", YuGothic, "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.footer {
    position: relative;
}

.footer .footerInner {
    background: #DB9398;
}

.footer .footerInner .footNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding: 40px 0;
    width: 80%;
}

.footer .footerInner .footNav h2 {
    width: 117px;
}

.footer .footerInner .footNav a {
    color: #fff;
}

.footer .footerInner .footNav .navList {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.footer .footerInner .footNav .navList li {
    margin: 10px 0;
    width: calc(100%/4);
    font-weight: bold;
}

.footer .footerInner .footNav .snsList {
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    width: 100%;
    font-size: 171.4%;
}

.footer .footerInner .footNav .snsList li {
    margin: 0 30px;
}

.footer .copyright {
    padding: 30px 0;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .footer .footerInner .footNav {
        padding: 40px 15px;
        width: 100%;
    }

    .footer .footerInner .footNav .navList {
        justify-content: space-between;
        width: 75%;
        font-size: 90%;
    }

    .footer .footerInner .footNav .navList li {
        width: calc(95%/3);
    }
}

@media screen and (max-width: 896px) {
    .footer .footerInner .footNav {
        justify-content: space-around;
        padding: 20px 0;
    }

    .footer .footerInner .footNav .navList {
        display: none;
    }

    .footer .footerInner .footNav .snsList {
        justify-content: center;
        margin-left: 0;
    }
}

.pageTop {
    position: fixed;
    right: 0;
    z-index: 5;
    width: 50px;
    height: 50px;
    background: #e2ddcb;
    text-align: center;
    font-size: 200%;
    line-height: 50px;
}

/* 202211 add */
.bnr__insta {
    width: 80px;
    position: fixed;
    bottom: 80px;
    right: 10px;

    img {
        width: 100%;
        object-fit: contain;
    }
}

@media screen and (min-width: 769px) {
    .bnr__insta {
        width: 150px;
    }
}

/* 202301 add */
.movie__box {
    margin-top: 30px;
}

.movie__box iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

/* 202401 add */
.caution {
    margin-top: 10px;
    color: #dd5911;
}

/**/