.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo img {
  width: 150px;
}

.navigation {
  display: flex;
  align-items: center;
}

.social-links a {
  color: #000;
  font-size: 1.5rem;
  margin-left: 10px;
}

.mainTtl .title {
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #4f4433;
}

.mainTtl .text {
  display: block;
  font-weight: bold;
}


.contactBtn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
}

.contactBtn a {
  display: inline-block;
  padding: 28px 35px;
  background: #BC87BB;
  color: #fff;
}

.user-info {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px; /* 添加用户名和登出按钮的间距 */
}

.user-info .ant-typography {
  font-size: 16px;
  color: #333;
}

.user-info .ant-btn-link {
  color: #007bff;
  font-size: 14px;
}

.user-info .ant-btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.username {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.logout-btn {
  font-size: 14px;
  color: #007bff;
}

.logout-btn:hover {
  color: #0056b3;
  text-decoration: underline;
}

.guest {
  font-size: 16px;
  color: #888;
}


@media screen and (max-width: 896px) {
  .contactBtn {
      position: static;
  }

  .contactBtn a {
      display: block;
      padding: 15px;
      text-align: center;
  }
}