.sidebar {
  height: 100vh;
  display: flex;
  position: fixed;
  background-color: #e3a7a2;
  overflow: auto !important; /* 保持滚动功能 */
  scrollbar-width: none !important; /* Firefox: 隐藏滚动条 */
  -ms-overflow-style: none !important; /* IE 和 Edge */
  /* 设置背景颜色 */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 80;
}

.gNav nav ul li {
  font-family: 'MochiyPopOne', sans-serif;
  font-size: 18px;
  margin-bottom: 60px;
  text-align: center;
  line-height: 1;
}

.gNav nav ul {
   list-style: none;
}

.snsList{
  list-style: none;
}

.gNav nav ul li a {
  color: #fff;
  font-weight: bold;
  font-size: 107.1%;
}

.gNav nav ul li a span {
  display: block;
  margin-top: 10px;
  font-weight: normal;
  font-size: 66.7%;
}

.gNav {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
  overflow: hidden;
  /* 垂直居中菜单 */
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-bottom: 20px;
}

.social-links img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
}


/* 响应式样式 */
@media screen and (max-width: 896px) {
  .menu-container .menu-item {
    margin-bottom: 0;
    border-bottom: 1px solid #e2ddcb;
  }

  .menu-container .menu-item a {
    display: block;
    padding: 30px 0;
  }
}


.gNav .snsList {
  display: flex;
  justify-content: center;
}

.gNav .snsList li {
  margin: 0 10px;
}

.gNav .snsList li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  /* font-size: 171.4%; */
}

@media screen and (max-width: 896px) {
  .gNav .snsList {
      margin: 30px 0;
  }
}

/* 响应式样式 */
@media screen and (max-width: 896px) {
  .sidebar {
    width: 100vw; /* 移动端占满屏幕宽度 */
    position: relative;
  }

  .gNav {
    position: relative;
    z-index: 80;
    overflow: hidden;
    background: #E0B4B5;
  }

  .gNav nav ul li {
    margin-bottom: 30px; /* 减小间距以适应移动端 */
  }

  .gNav nav ul li a {
    font-size: 16px; /* 调整字体大小 */
  }

  .gNav nav ul li a span {
    margin-top: 5px;
    font-size: 14px;
  }

  .gNav .snsList {
    margin: 30px 0;
  }

  .snsList li a {
    width: 40px;
    height: 40px;
  }
}

/* 针对宽度小于 350px 的屏幕 */
@media screen and (max-width: 400px) {
  .sidebar {
    width: 100vw; /* 确保侧边栏占满屏幕宽度 */
    height: 100vh; /* 全屏高度 */
    padding: 10px 0; /* 添加内边距，避免内容贴边 */
  }

  .gNav nav ul li {
    margin-bottom: 20px; /* 减小菜单项间距 */
  }

  .gNav nav ul li a {
    font-size: 14px; /* 缩小字体大小 */
  }

  .gNav nav ul li a span {
    margin-top: 5px; /* 减少二级文字的间距 */
    font-size: 12px; /* 缩小二级文字的字体 */
  }

  .snsList {
    margin: 10px 0; /* 减小社交图标与其他内容的间距 */
  }

  .snsList li a {
    width: 30px; /* 缩小图标尺寸 */
    height: 30px;
  }

  .contactBtn a {
    font-size: 12px; /* 按钮字体更小 */
    padding: 8px 15px; /* 按钮的内边距更紧凑 */
    border-radius: 15px; /* 缩小按钮圆角 */
  }
}
